@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:host {
  display: block;
  height: 100vh;
  background-image: url('../../assets/home_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home_container{
  width:100%;
  height:100%;
  display: flex;
}

.text_wrapper{
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_container{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 60%;
  height: 40%;
  color: #164375;
  font-family: 'Inter', sans-serif;

  position: relative;
  bottom: 4rem;

}
.text1{
  flex:0.7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem 1rem 2rem;
  gap: 1rem;

  position: relative;
  left: 3%;

  font-size: 2.2rem;
  font-weight: bold;
}

.text_button{
  width: 100%;
  height:60%;

  border-radius: 20px;
  border:none;

  background-color: #db4c3d;
  color: white;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  cursor: pointer;

  transition: 0.2s ease-in-out;
}
.text_button:hover{
  transform: scale(1.1);
}

.small_text{
  width:80%;
  font-size: 0.9rem;
  display: flex;
  font-weight: normal;
}

.text_button_container{
  flex:0.3;
  width: 76%;
}
.track_wrapper{
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.tracK_bg_container{
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  gap:10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 11px;
}
.track_container{
  height:12%;
  width:70%;

  position: relative;
  top: 2rem;
}

.track_button{
  flex:0.2;
  width:5rem;
  height:3rem;

  border:none;
  background-color: #164375;
  color:white;
  font-size: 1.4rem;
  border-radius: 5px;

  cursor: pointer;
  transition: 0.1s ease;
}
.track_button:hover{
  transform: scale(1.05);
}

.track_input{
  flex:0.4;
  width:100%;
  height: 3rem;
  border:none;
  padding-left: 5px;
  background-color: #f3f2f2;
  font-size: 1.1rem;
  border-radius: 10px;
}
.track_input:focus{
  outline:none;
}

.track_input.input_invalid{
  border: 2px solid red;
}
.text{
  font-family: Inter, sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: bold;

  position: relative;
  bottom: 1rem;
}

.error{
  font-family: Inter, sans-serif;
  font-size: 0.85rem;
  color: #db4c3d;
  font-weight: bold;
}
