@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.header_container {
  background-color: white;
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap:40px;

  box-shadow: 0 8px 6px rgba(0,0,0,0.1);
}
.font_family{
  font-family: Inter, sans-serif;
}
.text_container{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap:32px;
}

.image_container {
  width: 200px;
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.header_logo {
  width: 140% !important;
  height: 140% !important;
  object-fit: contain;
}

.item{
  text-decoration: none;
  color: #111827;
  font-size: 18px;
  position: relative;
  padding-bottom: 4px;
}

.item:after{
  content: "";
  position: absolute;
  left: 50%;
  width: 75%;
  bottom: -3px;
  height: 4px;
  background-color: #db4c3d;
  border-radius: 10%;

  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}
.item:hover:after{
  transform: translateX(-50%) scaleX(1);
}

.item:active:after{
  transform: translateX(-50%) scaleX(1);
}

.login_button_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login_button {
  background-color: #1f3f72;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 6px 18px;
  font-size: 16px;
  cursor: pointer;
  width:100px;
  height:50px;

  transition: 0.1s ease-in-out;
}
.login_button:hover {
  transform: scale(1.1);
}
.signUp_button {
  border:none;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
  width:100px;
  height:50px;

  transition: 0.1s ease-in-out;
}
.signUp_button:hover {
  font-size:16px;
}

